html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

hr {
  border-color: #db6663;
  border-width: 3px;
  max-width: 150px;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #db6663;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Montserrat', 'Open Sans';
  color: black;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/************************ NAVIGATION BAR ***************************/
.navbar-default
{
  background-color: transparent;
  border-color: transparent;
  font-family: 'Montserrat', 'Open Sans';
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Montserrat', 'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #db6663;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #db6663 !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
.navbar-default.affix {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
}
.navbar-default.affix .navbar-header .navbar-brand {
  color: #db6663;
  font-size: 14px;
}
.navbar-default.affix .navbar-header .navbar-brand:hover,
.navbar-default.affix .navbar-header .navbar-brand:focus {
  color: #db6663;
}
.navbar-default.affix .nav > li > a,
.navbar-default.affix .nav > li > a:focus {
  color: #222222;
}
.navbar-default.affix .nav > li > a:hover,
.navbar-default.affix .nav > li > a:focus:hover {
  color: #db6663;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #db6663;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #db6663;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #db6663;
  }
}

.navbar-fixed-top {
    min-height: 70px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

.navbar-header > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

@media (max-width: 767px) {
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar.center .navbar-inner {
    background-color: white;
  }
}

.navbar-toggle
{
	margin: 18px 20px 18px 0px;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}

.navbar-inner>ul li
{
	margin: 0 10px 0 10px;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover
{
	color:#db6663;
}
/********************** END NAVIGATION BAR ***********************/


/**************************** HEADER *****************************/
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/wallpaper.png');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner h2 {
  color:black;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: black;
  font-size: 16px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
/************************** END HEADER ****************************/


/*************************** SECTIONS *****************************/
section {
  background-color: white;
  padding: 100px 0 0 0;
}

.bg-primary {
  padding: 120px 0;
  background: url('../img/turingbombe.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section-wrapper .container .row h1{
  font-weight: 600;
  padding: 55px 0 15px 25px;
}
.section-wrapper .container .row h1:after {
    display: block;
    content: '';
    margin-top: 30px;
    width: 80px;
    height: 10px;
    background-color: #db6663;
}
.section-wrapper .container .row h2{
  font-weight: 600;
  padding: 55px 0 25px 25px;
}
.section-wrapper .container .row h2:after {
        display: block;
    content: '';
    margin-top: 20px;
    width: 80px;
    height: 5px;
    background-color: #333333;
}
.img-responsive
{
  margin: auto;
}
blockquote {
  padding: 0;
  margin: 20px 0 30px 25px;
  color: #808080;
  font-style: italic;
  line-height: 24px;
  border: 0;
}
blockquote:before {
    display: block;
    content: '';
    width: 16px;
    height: 20px;
    margin-left: -25px;
    border: 0;
    border-left: 6px solid #333333;
    border-right: 6px solid #333333;
    background-color: transparent;
    float: left;
}
.resume
{
  padding-right: 50px;
}
.my-skills {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
ul.my-skills > li {
    padding: 5px 0 15px 15px;
    margin-bottom: 30px;
    border: 0 solid transparent;
    border-left-width: 1px;
    -moz-border-image: url(../img/black-spot.png) 0 1 repeat;
    -webkit-border-image: url(../img/black-spot.pngg) 0 1 repeat;
    -o-border-image: url(../img/black-spot.png) 0 1 repeat;
    border-image: url(../img/black-spot.png) 0 1 repeat;
}
ul.my-skills > li .skill-title {
    font-family: 'Montserrat', 'Open Sans';
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
ul.my-skills > li ul.skill-levels {
    padding: 15px 0;
}
ul.my-skills > li ul.skill-levels li {
    margin-right: 20px;
    font-size: 2em;
    text-transform: uppercase;
    float: left;
    overflow: hidden;
    margin-top: -10px;
}
ul.my-skills > li ul.skill-levels li.active {
    color: #db6663;
}
ul.my-skills > li ul.skill-levels li a{
    color: black;
}
ul.my-skills > li ul.skill-levels li a:hover {
    color: #db6663;
}
/*************************** END SECTIONS ****************************/


/*************************** BUTTONS *****************************/
.btn-primary {
  color: #db6663;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary .badge {
  color: white;
  background-color: white;
}
.btn {
  font-family: 'Montserrat', 'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-xl {
  padding: 15px 30px;
}
.btn-primary-red {
  color: white;
  background-color: #db6663;
  border-color: #db6663;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary-red .badge {
  color: #db6663;
  background-color: white;
}
.btn-primary:hover
{
  background-color:rgba(255,255,255,0.1);
  border-color: rgba(255,255,255,0.1);
}
.btn-primary-red:hover
{
  color: rgb(219,102,99);
  background-color: white;
  border-color: rgb(219,102,99,0.9);
}
/*************************** END BUTTONS *****************************/

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
